server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://1.92.79.87:3306/collab_edit?useSSL=false&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

app:
  jwt:
    secret: CHANGE_ME_TO_AT_LEAST_32_CHARS_qweerertretdasdads
    expire-minutes: 120
  cors:
    allowed-origins: http://localhost:5173
  upload-dir: uploads
